{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<article>
    <h1>{{ post.title }}</h1>
    <p><small>Dodano: {{ post.createdAt|date('Y-m-d H:i') }}</small></p>
    <div>{{ post.content|raw }}</div>
</article>

<h3>Dodaj komentarz</h3>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Dodaj komentarz</button>
{{ form_end(form) }}


<h2>Komentarze</h2>

{% for comment in post.comments %}
    <div class="mb-3 border p-2">
        <small>{{ comment.createdAt|date('Y-m-d H:i') }}</small>
        <p>{{ comment.content }}</p>
    </div>
{% else %}
    <p>Brak komentarzy.</p>
{% endfor %}

<a href="{{ path('posts_list') }}" class="btn btn-primary mt-3">Powrót do listy postów</a>

{% endblock %}
